* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: "Poppins", sans-serif;
}

body {
     height: 100vh;
     background: linear-gradient(135deg, #ff4b2b, #ff416c);
     display: flex;
     justify-content: center;
     align-items: center;
     color: #fff;
     overflow-x: hidden;
}

.container {
     background: rgba(255, 255, 255, 0.1);
     backdrop-filter: blur(15px);
     border-radius: 15px;
     padding: 30px;
     width: 90%;
     max-width: 400px;
     text-align: center;
     box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
     overflow-wrap: break-word;
     word-wrap: break-word;
}

h1 {
     font-size: 1.8em;
     margin-bottom: 20px;
}

.heart {
     font-size: 2.5em;
     animation: pulse 1s infinite;
     overflow-x: hidden;
}

@keyframes pulse {

     0%,
     100% {
          transform: scale(1);
          color: #fff;
          overflow-x: hidden;
     }

     50% {
          transform: scale(1.2);
          color: #ff5fa2;
          overflow-x: hidden;
     }
}

input {
     width: 100%;
     padding: 10px;
     margin: 10px 0;
     border-radius: 8px;
     border: none;
     outline: none;
     text-align: center;
     font-size: 1em;
}

button {
     width: 100%;
     padding: 12px;
     margin-top: 10px;
     background: #fff;
     color: #ff416c;
     border: none;
     border-radius: 8px;
     cursor: pointer;
     font-weight: 600;
     transition: 0.3s;
}

button:hover {
     background: #ff416c;
     color: #fff;
}

.result {
     margin-top: 20px;
     font-size: 1.3em;
     display: none;
     animation: fadeIn 1s ease;
     overflow-wrap: break-word;
     word-wrap: break-word;
     text-align: center;
}

/* Floating Hearts */

.floating-heart {
     position: fixed;
     bottom: 0;
     font-size: 24px;
     animation: floatUp ease-in forwards;
     pointer-events: none;
     opacity: 0.8;
}

@keyframes floatUp {
     0% {
          transform: translateY(0) scale(1);
          opacity: 1;
     }

     100% {
          transform: translateY(-120vh) scale(1.5);
          opacity: 0;
     }
}

/* Floating Skulls */

.floating-skull {
     position: fixed;
     bottom: 0;
     font-size: 24px;
     animation: floatUp ease-in forwards;
     pointer-events: none;
     opacity: 0.8;
}

@keyframes floatUp {
     0% {
          transform: translateY(0) scale(1);
          opacity: 1;
     }

     100% {
          transform: translateY(-120vh) scale(1.5);
          opacity: 0;
     }
}


@keyframes fadeIn {
     from {
          opacity: 0;
          transform: translateY(10px);
     }

     to {
          opacity: 1;
          transform: translateY(0);
     }
}

/* Responsive */

@media (max-width: 480px) {
     h1 {
          font-size: 1.5em;
     }

     button,
     input {
          font-size: 0.9em;
     }
}